{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "react-app",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "semi": "error",
    "quotes": ["error", "single", {
      "allowTemplateLiterals": true
    }],
    "react/react-in-jsx-scope": 0
  }
}
