@import 'styles/variables';

.cv {
  max-width: 1000px;

  > p {
    color: $gameBg;
    font-weight: 500;

    span {
      font-weight: bold;
    } 
  }
  > i {
    a {
      font-weight: bold;
    }
  }
}