.main {
  height: 100%;
  width: 100%;
  background-color: gray;

  display: grid;
  grid-template-columns: auto auto auto;

  > div {
    border: solid 1px black;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .vertical {
    flex-direction: column;
  }

  .center {
    .input {
      width: 400px;
      height: 40px;
      border-radius: 5px;
    }
  }
}
